table, th, td {
    border: 2px solid rgb(199, 199, 199);
    border-collapse: collapse;
  }
  th{
    background-color: rgba(223, 223, 223, 0.932);
  }
  td{
    background-color: rgb(255, 255, 255);
  }